spring:
  application:
    name: autoclockin
  # DataSource Config
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # todo 修改为自己的数据库配置
    url: jdbc:mysql://localhost:3306/autoclockin
    username: root
    password: 1234
  mvc:
    path match:
      matching-strategy: ANT_PATH_MATCHER
  # session 失效时间（分钟）
  session:
    timeout: 86400
    store-type: redis
  # redis 配置
  redis:
    port: 6379
    host: localhost
    database: 0
  # todo 修改为自己的邮箱配置 申请参考地址：https://blog.csdn.net/madifu/article/details/131246584
  mail:
    host: smtp.qq.com
    username: 2483482026@qq.com
    password: xswgxxxxxeaie
    emailFrom: 2483482026@qq.com
    properties:
      mail:
        smtp:
          ssl:
            enable: true
# todo 申请ip池https://www.ipzan.com?pid=20s0edv8g,填入配置
ip:
  config:
#  todo 使用ip池需要先开启
    enable: true
    package-number: ip池套餐编号
    package-secret: ip池套餐密钥

server:
  port: 7529
  servlet:
    context-path: /api
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: isDelete # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略不配置步骤2)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
